<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cache_warmer_crawler>
            <general>
                <default_concurrency>2</default_concurrency>
                <varnish_uri/>
                <storage_dir>cache_warmer_crawler</storage_dir>
                <default_target_ttfb>3</default_target_ttfb>
            </general>
        </cache_warmer_crawler>
    </default>
</config>
